/*@@@@@★★★★★★★☆☆☆☆☆☆☆ DESKTOP ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (min-width:1025px) {
	/*★★★★★★★☆☆☆☆☆☆☆header☆☆☆☆☆☆☆★★★★★★★*/
	.wraper {
		width: 100%;
		position: fixed;
		top: -1px;
		left: 0;
		height: 80px;
		transition: 0.4s;
		z-index: 1000;
		background: rgba(255, 255, 255, 1);
	}

	.wraper.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wraper-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.nlogo {
		width: 120px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -60px;
		margin-top: -25.383px;
		transition: 0.4s;
	}

	/*★★★★★★★☆☆☆☆☆☆☆CONTENTS☆☆☆☆☆☆☆★★★★★★★*/
	#contents {
		padding-top: 80px;
	}

	.shop {
		width: 90%;
		margin: 25px auto;
		height: 95px;
		line-height: 95px;
	}

	.shop h2 {
		float: right;
		font-size: 55px;
		background: #000;
		color: #fff;
		padding: 0 25px;
	}

	.contentsWrap {
		width: 90%;
		margin: 0 auto 50px;
	}

	.menuBox {
		position: sticky;
		float: left;
		top: 80px;
	}

	.listTitle {
		height: 100px;
		line-height: 100px;
		font-size: 70px;
		border-bottom: 4px solid #000;
	}

	.menuBox ul li {
		margin-bottom: 15px;
	}

	.menuBoxList {
		margin-top: 50px;
	}

	.menulist {
		font-weight: 200;
		font-size: 2vw;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		transition: .25s;
	}

	.menulist.on {
		font-weight: 500;
		transform: matrix(1.05, 0, 0, 1.05, 5, 0);
		letter-spacing: 10px;
	}

	.itemBox {
		float: right;
		width: 70%;
	}

	.itemBoxTitle {
		position: relative;
		height: 100px;
		line-height: 100px;
		overflow: hidden;
		border-bottom: 2px solid #000;
	}

	.itemBoxTitleWrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 500px;
	}

	.itemBoxTitleWrap h2 {
		height: 100px;
		font-size: 66px;
	}

	.itemBox .showOn {
		display: block;
	}

	.itemBox .showHide {
		display: none;
	}

	.grid {
		width: 100%;
		margin-top: 50px;
	}

	.grid-sizer {
		width: 100%;
	}

	.grid-item {
		width: 100%;
		margin-bottom: 140px;
	}

	.grid-item .itemboxMain img {
		width: 100%;
		display: block;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.itembox-left {
		float: left;
		width: 44%;
	}

	.itemboxMain {
		margin-bottom: 20px;
	}

	.itembox-left ul {
		width: 100%;
	}

	.itembox-left ul li {
		float: left;
		width: 25%;
		overflow: hidden;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.itembox-left ul li img {
		height: 4.59vw;
		width:100%;
	}

	.itembox-right {
		float: right;
		width: 54%;
		position: relative;
		margin-bottom: 30px;
	}

	.itembox-right h3 {
		font-size: calc(14px + 0.7vw);
		margin-bottom: 10px;
		width:73.5%;
	}

	.itembox-right h4 {
		font-size: calc(11px + 0.7vw);
		margin-bottom: 10px;
	}

	.itembox-right p {
		font-size: calc(6px + 0.75vw);
	}

	.grid-item .roomkinds {
		position: absolute;
		top: 0;
		right: 0;
	}

	.grid-item .roomkinds h3 {
		font-size: calc(11px + 0.75vw);
		color: #fff;
		background: #000;
		padding: 0 1vw;
		margin-bottom: 6px;
	}

	.grid-item .roomkinds .roomstar {
		float: right;
		font-size: 18px;
		font-weight: 600;
	}

	.grid-item .roomkinds .roomstar img {
		width: 23px;
		box-shadow: none;
		float: left;
		padding-top: 2px;
		margin-right: 10px;
	}

	.grid-item .roomcheck a {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 1.5vw;
		color: #000;
		background: #fff;
		border: 1px solid #000;
		box-sizing: border-box;
		padding: 0 1.5vw;
		transition: .4s;
		cursor: pointer;
		font-weight: 600;
	}

	.grid-item .roomcheck a:hover {
		color: #fff;
		background: #000;
	}

	.itemboxLine {
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid #000;
		position: absolute;
		left: 15%;
		bottom: -70px;
	}

	.modal {
		max-width: 1080px !important;
		margin-top: 100px;
	}

	.modalTop {
		width: 100%;
		text-align: center;
		position: relative;
		margin-bottom: 15px;
	}

	.modalTop h2 {
		color: #fff;
		background: #000;
		display: inline-block;
		padding: 10px 20px;
	}

	.modal a.close-modal {
		top: 25px !important;
		right: 3% !important;
		width: 38px !important;
		height: 38px !important;
	}

	.contentImgBox {
		float: left;
		margin-bottom: 30px;
	}

	.contentImgBox-right {
		width: 100%;
		float: left;
	}

	.contentImgBox-right ul {
		width: 100%;
		float: left;
	}

	.contentImgBox-right ul li {
		width: 24%;
		float: left;
	}

	.contentImgBox-right ul li:nth-child(1) {
		width: 50%;
	}

	.contentImgBox-right ul li:nth-child(2) {
		margin: 0 1% 1.5%;
	}

	.contentImgBox-right ul li:nth-child(3) {
		margin: 0 0 1% 0;
	}

	.contentImgBox-right ul li:nth-child(4) {
		margin: 0 1% 0;
	}

	.contentImgBox-right img {
		width: 100%;
	}

	.contentBox {
		margin: 30px auto;
	}

	.contentBox-left {
		width: 57%;
		float: left;
	}

	.contentBox-left h2 {
		font-size: 35px;
		border-bottom: 2px solid #000;
		padding: 12px 0;
	}

	.contentBox-left ul {
		border-bottom: 2px solid #000;
		padding: 12px 0;
	}

	.contentBox-left .contentAddress {
		float: left;
		width: 100%;
	}

	.contentBox-left .contentAddress li {
		margin: 10px auto;
		display: flex;
		align-items: center;
	}

	.contentBox-left .contentAddress li img {
		width: 31px;
		margin-right: 10px;
	}

	.contentBox-left .contentService {
		display: flex;
		align-items: center;
		padding: 22px 18px;
	}

	.contentBox-left .contentService li {
		width: 12.5%;
		margin: 0 13px;
		box-sizing: border-box;
	}

	.contentBox-left .contentService li img {
		width: 100%;
	}

	.contentBox-left .contentText {
		margin-top: 30px;
	}

	.contentText h3 {
		margin-bottom: 20px;
		font-size: 20px;
	}

	.contentBox-right {
		width: 38%;
		float: right;
	}

	.checkinBox {
		width: 100%;
		border: 1px solid #e3e3e3;
		padding: 8%;
		box-sizing: border-box;
		margin-bottom: 50px;
	}

	.checkinBox h3 {
		font-size: calc(15px + .39vw);
		margin-bottom: 20px;
	}

	.checkinBox h4 {
		font-size: calc(11px + .39vw);
		float: left;
		margin-bottom: 5px;
	}

	.checkinBox p {
		font-size: calc(10px + .39vw);
		margin-bottom: 30px;
		font-weight: bold;
	}

	.checkinBox button {
		border: 1px solid #000;
		outline: none;
		background: #fff;
		color: #000;
		font-size: 18px;
		cursor: pointer;
		margin: 0 auto;
		padding: 5px 25px;
		display: block;
		font-weight: 600;
		transition: .4s;
	}

	.checkinBox button:hover {
		color: #fff;
		background: #000;
	}

	.datepicker {
		width: 80%;
		outline: none;
		border: none;
		border-bottom: 1px solid #000;
		font-size: calc(11px + .39vw);
	}

	.checkDataBox {
		width: 100%;
	}

	.checkData {
		width: 50%;
		float: left;
		box-sizing: border-box;
		margin-bottom: 25px;
	}

	.checknumber {
		width: 15px;
		font-size: calc(11px + .39vw);
		outline: none;
		border: none;
		border-bottom: 1px solid #000;
		text-align: center;
	}

	.touristSpot {
		text-align: center;
	}

	.touristSpot h3 {
		color: #fff;
		background: #000;
		padding: 10px 20px;
		display: inline-block;
		margin-bottom: 30px;
	}

	.touristSpot ul {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.touristSpot li {
		width: 48%;
	}

	.touristSpot li img {
		width: 100%;
		transition: .4s;
	}

	.touristSpot dl:hover img {
		transform: scale(1.05);
	}

	.touristSpot li dd {
		margin: 5px auto;
		font-size: 14px;
	}

}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ PAD ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (min-width:768px) and (max-width:1024px) {
	/*★★★★★★★☆☆☆☆☆☆☆header☆☆☆☆☆☆☆★★★★★★★*/
	.wraper {
		width: 100%;
		position: fixed;
		top: -1px;
		left: 0;
		height: 61.2px;
		transition: 0.4s;
		z-index: 1000;
		background: rgba(255, 255, 255, 1);
	}

	.wraper.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wraper-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.nlogo {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50px;
		margin-top: -21.5px;
		transition: 0.4s;
	}

	/*★★★★★★★☆☆☆☆☆☆☆CONTENTS☆☆☆☆☆☆☆★★★★★★★*/
	#contents {
		padding-top: 61.2px;
	}

	.shop {
		width: 90%;
		margin: 15px auto;
		height: 80px;
		line-height: 80px;
	}

	.shop h2 {
		float: right;
		font-size: 49px;
		background: #000;
		color: #fff;
		padding: 0 19px;
	}

	.contentsWrap {
		width: 90%;
		margin: 0 auto 50px;
	}

	.menuBox {
		position: sticky;
		float: left;
		top: 61.2px;
	}

	.listTitle {
		height: 100px;
		line-height: 100px;
		font-size: 62px;
		border-bottom: 4px solid #000;
	}

	.menuBox ul li {
		margin-bottom: 20px;
	}

	.menuBoxList {
		margin-top: 50px;
	}

	.menulist {
		font-weight: 200;
		font-size: 2vw;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		transition: .25s;
	}

	.menulist.on {
		font-weight: 500;
		letter-spacing: 8px;
	}

	.itemBox {
		float: right;
		width: 70%;
	}

	.itemBoxTitle {
		position: relative;
		height: 100px;
		line-height: 100px;
		overflow: hidden;
		border-bottom: 2px solid #000;
	}

	.itemBoxTitleWrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 500px;
	}

	.itemBoxTitleWrap h2 {
		height: 100px;
		font-size: 58px;
	}

	.itemBox .showOn {
		display: block;
	}

	.itemBox .showHide {
		display: none;
	}

	.grid {
		width: 100%;
		margin-top: 50px;
	}

	.grid-sizer {
		width: 100%;
	}

	.grid-item {
		width: 100%;
		margin-bottom: 100px;
	}

	.grid-item .itemboxMain img {
		width: 100%;
		display: block;
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
	}

	.itembox-left {
		float: left;
		width: 41%;
	}

	.itemboxMain {
		margin-bottom: 2%;
	}

	.itembox-left ul {
		width: 100%;
	}

	.itembox-left ul li {
		float: left;
		width: 49%;
		overflow: hidden;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.itembox-left ul li img {
		width: 100%;
	}

	.itembox-left ul li:nth-child(1) {
		margin: 0 2% 2% 0;
	}

	.itembox-left ul li:nth-child(2) {
		margin: 0 0 2% 0;
		height: 9.1vw;
	}

	.itembox-left ul li:nth-child(3) {
		margin: 0 2% 0 0;
	}

	.itembox-left ul li:nth-child(4) {
		margin: 0 0 0 0;
	}

	.itembox-right {
		float: right;
		width: 56%;
		position: relative;
		margin-bottom: 30px;
	}

	.itembox-right h3 {
		font-size: 1.9vw;
		margin-bottom: 5px;
	}

	.itembox-right h4 {
		font-size: 1.80vw;
		margin-bottom: 5px;
	}

	.itembox-right p {
		font-size: 1.75vw;
	}

	.grid-item .roomkinds {
		position: absolute;
		top: 0;
		right: 0;
	}

	.grid-item .roomkinds h3 {
		font-size: 1.9vw;
		color: #fff;
		background: #000;
		padding: 0 1.5vw;
		margin-bottom: 4px;
	}

	.grid-item .roomkinds .roomstar {
		float: right;
		font-size: 1.7vw;
		font-weight: 600;
	}

	.grid-item .roomkinds .roomstar img {
		width: 18px;
		box-shadow: none;
		float: left;
		padding-top: 1px;
		margin-right: 8px;
	}

	.roomcheck {
		position: absolute;
		right: 0;
		bottom: -11px;
		width: 11vw;
	}

	.grid-item .roomcheck a {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 1.9vw;
		color: #000;
		background: #fff;
		border: 1px solid #000;
		box-sizing: border-box;
		padding: 0 1.5vw;
		transition: .4s;
		cursor: pointer;
		font-weight: 600;
	}

	.grid-item .roomcheck a:hover {
		color: #fff;
		background: #000;
	}

	.itemboxLine {
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid #000;
		position: absolute;
		left: 15%;
		bottom: -50px;
	}

	.modal {
		max-width: 1080px !important;
		margin-top: 100px;
	}

	.modalTop {
		width: 100%;
		text-align: center;
		position: relative;
		margin-bottom: 15px;
	}

	.modalTop h2 {
		color: #fff;
		background: #000;
		display: inline-block;
		padding: 10px 20px;
	}

	.modal a.close-modal {
		top: 25px !important;
		right: 3% !important;
		width: 38px !important;
		height: 38px !important;
	}

	.contentImgBox {
		float: left;
		margin-bottom: 30px;
	}

	.contentImgBox img {
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
	}

	.contentImgBox-right {
		width: 100%;
		float: left;
	}

	.contentImgBox-right ul {
		width: 100%;
		float: left;
	}

	.contentImgBox-right ul li {
		width: 24%;
		float: left;
	}

	.contentImgBox-right ul li:nth-child(1) {
		width: 50%;
	}

	.contentImgBox-right ul li:nth-child(2) {
		margin: 0 1% 1.5%;
	}

	.contentImgBox-right ul li:nth-child(3) {
		margin: 0 0 1% 0;
	}

	.contentImgBox-right ul li:nth-child(4) {
		margin: 0 1% 0;
	}

	.contentImgBox-right img {
		width: 100%;
	}

	.contentBox {
		margin: 30px auto;
	}

	.contentBox-left {
		width: 57%;
		float: left;
	}

	.contentBox-left h2 {
		font-size: 28px;
		border-bottom: 2px solid #000;
		padding: 6px 0;
	}

	.contentBox-left ul {
		border-bottom: 2px solid #000;
		padding: 6px 0;
	}

	.contentBox-left .contentAddress {
		float: left;
		width: 100%;
	}

	.contentBox-left .contentAddress li {
		margin: 10px auto;
		display: flex;
		align-items: center;
	}

	.contentBox-left .contentAddress li img {
		width: 31px;
		margin-right: 7px;
	}

	.contentBox-left .contentAddress li p {
		font-size: 14px;
	}

	.contentBox-left .contentService {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 3% 1%;
	}

	.contentBox-left .contentService li {
		width: 12%;
		margin: 0 2% 0 0;
		box-sizing: border-box;
	}

	.contentBox-left .contentService li:last-child {
		margin: 0;
	}

	.contentBox-left .contentService li img {
		width: 100%;
	}

	.contentBox-left .contentText {
		margin-top: 20px;
	}

	.contentText h3 {
		margin-bottom: 20px;
		font-size: 18px;
	}

	.contentBox-right {
		width: 38%;
		float: right;
	}

	.checkinBox {
		width: 100%;
		border: 1px solid #e3e3e3;
		padding: 8%;
		box-sizing: border-box;
		margin-bottom: 50px;
	}

	.checkinBox h3 {
		font-size: calc(14px + .39vw);
		margin-bottom: 20px;
	}

	.checkinBox h4 {
		font-size: calc(11px + .39vw);
		float: left;
		margin-bottom: 5px;
	}

	.checkinBox p {
		font-size: calc(11px + .39vw);
		margin-bottom: 30px;
		font-weight: bold;
	}

	.checkinBox button {
		border: 1px solid #000;
		outline: none;
		background: #fff;
		color: #000;
		font-size: 18px;
		cursor: pointer;
		margin: 0 auto;
		padding: 3px 20px;
		display: block;
		font-weight: 600;
		transition: .4s;
	}

	.checkinBox button:hover {
		color: #fff;
		background: #000;
	}

	.datepicker {
		width: 80%;
		outline: none;
		border: none;
		border-bottom: 1px solid #000;
		font-size: calc(11px + .39vw);
	}

	.checkDataBox {
		width: 100%;
	}

	.checkData {
		width: 100%;
		float: left;
		box-sizing: border-box;
		margin-bottom: 25px;
	}

	.checknumber {
		width: 15px;
		font-size: calc(11px + .39vw);
		outline: none;
		border: none;
		border-bottom: 1px solid #000;
		text-align: center;
	}

	.touristSpot {
		text-align: center;
	}

	.touristSpot h3 {
		color: #fff;
		background: #000;
		padding: 10px 0;
		width: 80%;
		display: inline-block;
		margin-bottom: 30px;
	}

	.touristSpot ul {
		margin-bottom: 20px;
	}

	.touristSpot li {
		width: 80%;
		margin: 0 auto;
	}

	.touristSpot li img {
		width: 100%;
		transition: .4s;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
	}

	.touristSpot dl:hover img {
		transform: scale(1.05);
	}

	.touristSpot li dd {
		margin: 5px auto 20px;
		font-size: 14px;
	}
}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ MOBILE ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (max-width:767px) {
	/*★★★★★★★☆☆☆☆☆☆☆header☆☆☆☆☆☆☆★★★★★★★*/
	.wraper {
		width: 100%;
		position: fixed;
		top: -1px;
		left: 0;
		height: 61.2px;
		transition: 0.4s;
		z-index: 1000;
		background: rgba(255, 255, 255, 1);
	}

	.wraper.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wraper-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.nlogo {
		width: 90px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -45px;
		margin-top: -19.0315px;
		transition: 0.4s;
	}

	/*★★★★★★★☆☆☆☆☆☆☆CONTENTS☆☆☆☆☆☆☆★★★★★★★*/
	#contents {
		padding-top: 61.2px;
	}

	.shop {
		width: 90%;
		margin: 25px auto;
		height: 70px;
		line-height: 70px;
	}

	.shop h2 {
		float: right;
		font-size: 50px;
		background: #000;
		color: #fff;
		width: 100%;
		text-align: center;
	}

	.contentsWrap {
		width: 90%;
		margin: 0 auto 3%;
	}

	.menuBox {
		float: left;
		width: 100%;
		margin-bottom: 25px;
	}

	.menuBox ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.menuBox ul li {
		margin: 2.6vw;
	}

	.listTitle {
		font-size: 49px;
		text-align: center;
		border-bottom: 4px solid #000;
	}

	.menuBoxList {
		margin-top: 25px;
	}

	.menulist {
		font-weight: 200;
		font-size: 20px;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		transition: .25s;
	}

	.menulist.on {
		font-weight: 500;
		letter-spacing: 4px;
	}

	.itemBox {
		float: right;
		width: 100%;
	}

	.itemBoxTitle {
		position: relative;
		height: 70px;
		line-height: 70px;
		overflow: hidden;
		border-bottom: 2px solid #000;
	}

	.itemBoxTitleWrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 350px;
		width: 100%;
	}

	.itemBoxTitleWrap h2 {
		text-align: center;
		font-size: 42px;
	}

	.itemBox .showOn {
		display: block;
	}

	.itemBox .showHide {
		display: none;
	}

	.grid {
		width: 100%;
		margin-top: 50px;
	}

	.grid-sizer {
		width: 100%;
	}

	.grid-item {
		width: 100%;
		margin-bottom: 30%;
	}

	.grid-item .itemboxMain img {
		width: 100%;
		display: block;
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
	}

	.itembox-left {
		width: 100%;
	}

	.itemboxMain {
		margin-bottom: 3%;
	}

	.itembox-left ul {
		display: none;
	}

	.itembox-right {
		width: 100%;
		position: relative;
		margin-bottom: 30px;
	}

	.itembox-right h3 {
		font-size: 6vw;
		margin-bottom: 1%;
	}

	.itembox-right h4 {
		font-size: 4.5vw;
		margin-bottom: 3%;
	}

	.itembox-right p {
		font-size: 3.8vw;
	}

	.grid-item .roomkinds {
		position: absolute;
		bottom: -30px;
		left: 0;
	}

	.grid-item .roomkinds h3 {
		font-size: 5vw;
		color: #fff;
		background: #000;
		padding: 0 1.5vw;
		float: left;
		border: 1px solid #000;
	}

	.grid-item .roomkinds .roomstar {
		display: none;
	}

	.grid-item .roomkinds .roomstar img {
		width: 18px;
		box-shadow: none;
		float: left;
		padding-top: 1px;
		margin-right: 8px;
	}

	.roomcheck {
		position: absolute;
		right: 0;
		bottom: -30px;
	}

	.grid-item .roomcheck a {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 5vw;
		color: #000;
		background: #fff;
		border: 1px solid #000;
		box-sizing: border-box;
		padding: 0 1.5vw;
		transition: .4s;
		cursor: pointer;
		font-weight: 600;
		width: 25vw;
		text-align: center;
	}

	.grid-item .roomcheck a:hover {
		color: #fff;
		background: #000;
	}

	.itemboxLine {
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid #000;
		position: absolute;
		left: 15%;
		bottom: -11%;
	}

	.modal {
		width: 100% !important;
		margin-top: 65px;
		padding: 10px 15px !important;
	}

	.modalTop {
		width: 100%;
		text-align: center;
		position: relative;
		margin-bottom: 15px;
	}

	.modalTop h2 {
		color: #fff;
		background: #000;
		display: inline-block;
		padding: 5px 10px;
		font-size: 5vw;
	}

	.modal a.close-modal {
		top: 17px !important;
		right: 3% !important;
		width: 26px !important;
		height: 26px !important;
	}

	.contentImgBox {
		float: left;
		margin-bottom: 15px;
	}

	.contentImgBox img {
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
	}

	.contentImgBox-right {
		width: 100%;
		float: left;
	}

	.contentImgBox-right ul {
		width: 100%;
		float: left;
	}

	.contentImgBox-right ul li {
		width: 24%;
		float: left;
	}

	.contentImgBox-right ul li:nth-child(1) {
		width: 50%;
	}

	.contentImgBox-right ul li:nth-child(2) {
		margin: 0 1% 1.5%;
	}

	.contentImgBox-right ul li:nth-child(3) {
		margin: 0 0 1% 0;
	}

	.contentImgBox-right ul li:nth-child(4) {
		margin: 0 1% 0;
	}

	.contentImgBox-right img {
		width: 100%;
	}

	.contentBox {
		margin: 15px auto;
		clear: both;
	}

	.contentBox-left {
		width: 100%;
	}

	.contentBox-left h2 {
		font-size: 6.5vw;
		border-bottom: 2px solid #000;
	}

	.contentBox-left ul {
		border-bottom: 2px solid #000;
		padding: 6px 0;
	}

	.contentBox-left .contentAddress {
		float: left;
		width: 100%;
	}

	.contentBox-left .contentAddress li {
		margin: 10px auto;
		display: flex;
		align-items: center;
	}

	.contentBox-left .contentAddress li img {
		width: 31px;
		margin-right: 7px;
	}

	.contentBox-left .contentAddress li p {
		font-size: 13px;
	}

	.contentBox-left .contentService {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 3% 1%;
	}

	.contentBox-left .contentService li {
		width: 12%;
		margin: 0 2% 0 0;
		box-sizing: border-box;
	}

	.contentBox-left .contentService li:last-child {
		margin: 0;
	}

	.contentBox-left .contentService li img {
		width: 100%;
	}

	.contentBox-left .contentText {
		margin-top: 20px;
	}

	.contentText h3 {
		margin-bottom: 20px;
		font-size: 16px;
	}

	.contentText p {
		font-size: 14px;
	}

	.contentBox-right {
		width: 100%;
		position: relative;
	}

	.checkinBox {
		width: 100%;
		border: 1px solid #e3e3e3;
		padding: 3% 5%;
		box-sizing: border-box;
		position: -webkit- sticky;
		position: sticky;
		top: 39px;
		background: #fff;
		z-index: 600;
	}

	.checkinBox h3 {
		font-size: calc(14px + .39vw);
		margin-bottom: 4%;
	}

	.checkinBox h4 {
		font-size: calc(12px + .39vw);
		float: left;
	}

	.checkinBox p {
		font-size: calc(13px + .39vw);
		margin: 4% 0;
		font-weight: bold;
	}

	.checkinBox button {
		border: 1px solid #000;
		outline: none;
		background: #fff;
		color: #000;
		font-size: 16px;
		cursor: pointer;
		margin: 0 auto;
		padding: 1px 20px;
		display: block;
		font-weight: 600;
		transition: .4s;
	}

	.checkinBox button:hover {
		color: #fff;
		background: #000;
	}

	.datepicker {
		width: 100%;
		outline: none;
		border: none;
		background: none;
		border-bottom: 1px solid #000;
		font-size: calc(12px + .39vw);
	}

	.checkDataBox {
		width: 100%;
	}

	.checkData {
		width: 49%;
		float: left;
		box-sizing: border-box;
		margin-bottom: 2%;
	}

	.checkData:nth-child(1) {
		margin-right: 2%;
	}

	.checknumber {
		width: 15px;
		font-size: calc(13px + .39vw);
		outline: none;
		border: none;
		border-bottom: 1px solid #000;
		text-align: center;
	}

	.touristSpot {
		text-align: center;
		margin-top: 20px;
	}

	.touristSpot h3 {
		color: #fff;
		background: #000;
		padding: 5px 0;
		width: 90%;
		display: inline-block;
		margin-bottom: 15px;
		font-size: 4.5vw;
	}

	.touristSpot ul {
		margin-bottom: 20px;
	}

	.touristSpot li {
		width: 90%;
		margin: 0 auto;
	}

	.touristSpot li img {
		width: 100%;
		transition: .4s;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
	}

	.touristSpot li img:hover {
		transform: matrix(1.15, 0, 0, 1.2, 0, -15);
	}

	.touristSpot li dd {
		margin: 5px auto 20px;
		font-size: 14px;
	}
}
