/*@@@@@★★★★★★★☆☆☆☆☆☆☆ DESKTOP ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (min-width:1025px) {
	.sectionTitle {
		text-align: center;
		font-size: 30px;
		font-weight: 300;
		margin-bottom: 50px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆HEADER☆☆☆☆☆☆☆★★★★★★★*/
	.move {
		position: fixed;
		display: none;
		right: 1.5vw;
		bottom: 1.5vw;
		z-index: 999;
		padding: 3px;
		cursor: pointer;
	}

	.move img {
		width: 13px;
		opacity: 0.4;
		transition: .4s;
	}

	.move:hover img {
		opacity: 1;
	}

	.wrap {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: 280px;
		transition: 0.4s;
		z-index: 1000;
	}

	.wrap.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wrap-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.logo {
		width: 120px;
		position: absolute;
		top: 50%;
		left: 20%;
		margin-left: -60px;
		margin-top: -25.383px;
		transition: 0.4s;
		transform: matrix(3.4, 0, 0, 3.4, 0, 37);
	}

	.day {
		position: absolute;
		top: 110px;
		right: 0;
		font-size: 90px;
		line-height: 85%;
		transition: 0.4s;
		text-align: right;
	}

	.wrap-inner h3 {
		position: absolute;
		top: 20px;
		left: 0;
		transition: .4s;
	}

	.wrap-inner ul {
		position: absolute;
		top: 20px;
		right: 25px;
		text-align: right;
		transition: .4s;
	}

	.wrap-inner ul li {
		float: left;
		margin-right: 3vw;
	}

	.wrap-inner ul li p {
		line-height: 99%;
	}

	.titlebox {
		width: 90%;
		margin: 0 auto;
		transition: 0.4s;
		position: relative;
		z-index: 30;
		padding-top: 280px;
	}

	.titletext {
		font-size: 80px;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -156px;
		margin-top: 59px;
		transition: 0.4s;
	}

	.titleshot {
		width: 100%;
		transition: 0.4s;
	}

	.section {
		width: 100%;
	}

	.section-inner {
		width: 80%;
		margin: 0 auto;
	}

	/*★★★★★★★☆☆☆☆☆☆☆stories☆☆☆☆☆☆☆★★★★★★★*/
	#stories {
		width: 90%;
		height: 100%;
		margin: 9vh auto;
		padding-top: 50px;
		padding-bottom: 250px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		position: relative;
	}

	#stories .sectionTitle {
		margin-bottom: -5px;
	}

	#stories-con {
		display: flex;
	}

	.content-left {
		flex: 1;
		width: 48vw;
		margin-right: 2vw;
		position: relative;
	}

	.left-inner {
		position: sticky;
		top: 30px;
		z-index: 100;
		text-align: center;
		padding-top: 55px;
	}

	.left-inner h2 {
		font-size: 1.8vw;
		margin-bottom: 1vh;
	}

	.left-inner p {
		font-size: 1.15vw;
		width: 70%;
		margin: 0 auto;
	}

	.imgbox {
		width: 100%;
		margin-bottom: 15px;
	}

	.imgbox img {
		width: 80%;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	}

	.content-right {
		float: right;
		width: 48vw;
		padding-top: 55px;
	}

	.content-right ul {
		width: 100%;
		float: left;
		clear: both;
		margin: 0 auto 11vh;
	}

	.content-right ul li {
		width: 23vw;
		float: left;
	}

	.content-right ul li:nth-child(1) {
		margin-right: 2vw;
	}

	.content-right ul li h3 {
		margin: 10px auto 10px;
		font-size: 1.6vw;
		text-align: center;
	}

	.content-right ul li p {
		font-size: 1.15vw;
	}

	.content-right ul li img {
		width: 100%;
		/*-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
			-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
			box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);*/
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
	}

	.moreviewBox {
		position: absolute;
		bottom: 100px;
		left: 50%;
		margin-left: -75px;
		width: 150px;
		border: 1px solid #000;
		text-align: center;
		height: 40px;
		line-height: 40px;
		transition: .4s;
	}

	.moreviewBox:hover {
		background: #000;
		color: #fff;
		cursor: pointer;
	}

	/*★★★★★★★☆☆☆☆☆☆☆MUSEUM☆☆☆☆☆☆☆★★★★★★★*/
	#museum {
		width: 100%;
		margin: 9vh auto;
		overflow: auto;
	}

	.museum {
		margin: 0 auto;
		overflow: auto;
	}

	.contitle {
		font-size: 2.7vw;
		font-weight: bold;
		text-align: center;
		color: #000;
		letter-spacing: 0px;
		transition: .8s;
		-webkit-transition: .8s;
		-ms-transition: .8s;
		position: relative;
		height: 80px;
		line-height: 80px;
		padding: 10px;
	}

	.contitle:before,
	.contitle:after {
		content: "";
		position: absolute;
		height: 3px;
		width: 0px;
		transition: 1s;
		-webkit-transition: 1s;
		-ms-transition: 1s;
		opacity: 0.3;
		left: 50%;
	}

	.contitle:before {
		bottom: 0;
	}

	.contitle:after {
		top: 0;
	}

	.contitle:hover {
		letter-spacing: 25px;
	}

	.activetitle:before,
	.activetitle:after {
		background: #000;
	}

	.activetitle.change:before,
	.activetitle.change:after {
		width: 100%;
		opacity: 1;
		left: 0;
	}

	.normaltitle:before,
	.normaltitle:after {
		background: #fff;
	}

	.normaltitle.change:before,
	.normaltitle.change:after {
		width: 90%;
		opacity: 1;
		left: 5%;
	}

	.sec-contentBox {
		width: 90%;
		margin: 50px auto;
		display: none;
	}

	.sec-con-left {
		width: 40%;
		float: left;
	}

	.sec-con-left h3 {
		font-size: 2.2vw;
		margin-bottom: 1vh;
	}

	.sec-con-left h4 {
		font-size: 1.7vw;
		margin-bottom: 1vh;
	}

	.sec-con-left p {
		font-size: 1.25vw;
	}

	.detail-text {
		margin-top: 2.5vh;
		width: 90%;
	}

	.sec-con-right {
		width: 58%;
		margin-left: 2%;
		float: right;
	}

	.sec-con-right img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.85);
		-moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.85);
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.85);
	}

	.sec-con-right p {
		float: right;
		font-family: 'Nanum Myeongjo', serif;
		font-weight: 800;
		font-size: 0.8vw;
		opacity: 0.6;
		margin-top: 10px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆PARALLAX☆☆☆☆☆☆☆★★★★★★★*/
	.parallax {
		position: relative;
		margin: 0 auto;
		width: 100%;
		box-sizing: border-box;
		transform-style: inherit;
		overflow: hidden;
		height: 600px;
		perspective: 1px;
		transform-style: preserve-3d;
		cursor: pointer;
		transition: .4s;
	}

	.parallax:before {
		background: no-repeat fixed center / cover;
		transform: translateZ(-1.7px)scale(3);
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.parallax.boxChange {
		width: 90%;
		margin: 10px auto 0;
		height: 150px;
		/*-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);
			-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);
			box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);*/
	}

	.gara:before {
		background-image: url(../images/garage3.jpg)
	}

	.hermi:before {
		background-image: url(../images/hermitage.jpg);
	}

	.cosmo:before {
		background-image: url(../images/cosmonautics4.jpg);
	}

	.p-inner {
		padding-top: 249px;
		transition: .4s;
		box-sizing: border-box;
	}

	.parallax h3 {
		color: #fff;
	}

	/*★★★★★★★☆☆☆☆☆☆☆TOURSLIDE☆☆☆☆☆☆☆★★★★★★★*/
	#tourslide {
		margin: 9vh auto;
	}

	.text-wrapper {
		margin-bottom: 50px;
	}

	.slide-wrapper {
		display: flex;
		width: 90%;
		margin: 0 auto;
		/*margin-left:25vw;*/
	}

	.tourcountry {
		width: 50vw;
		height: 29.3vw;
		position: relative;
	}

	.russiamap {
		width: 100%;
		height: 100%;
	}

	.marker {
		width: 3vw;
		display: block;
		position: absolute;
		cursor: pointer;
		transition: .4s;
	}

	.marker.active {
		-webkit-animation: hover .8s infinite ease-in;
		animation: hover .8s infinite ease-in-out;
	}

	@keyframes hover {
		0% {
			margin-bottom: 0px;
		}

		50% {
			margin-bottom: 10px;
			transform: scale(1.04);
		}
	}

	.marker img {
		width: 80%;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: .2s;
	}

	.markercheckactive {
		opacity: 0;
	}

	.number {
		color: #fff;
		background: rgba(0, 0, 0, 1);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		text-align: center;
		font-weight: 600;
		position: absolute;
		bottom: .35vw;
		left: 2.8vw;
		font-size: 1.2vw;
		margin: auto;
	}

	.number.vladi {
		bottom: -2vw;
		left: -2.8vw;
	}

	.marker:nth-child(2) .number {
		width: 9.5vw;
	}

	.marker:nth-child(3) .number {
		width: 5vw;
	}

	.marker:nth-child(4) .number {
		width: 3vw;
	}

	.marker:nth-child(5) .number {
		width: 3vw;
	}

	.marker:nth-child(6) .number {
		width: 8vw;
	}

	.marker:nth-child(7) .number {
		width: 8vw;
	}

	/*★★★★★★★☆☆☆☆☆☆☆SLIDE☆☆☆☆☆☆☆★★★★★★★*/
	.animation_canvas {
		width: 40vw;
		position: relative;
		overflow: hidden;
	}

	.slider_panel {
		width: 240vw;
		position: relative;
	}

	.slider_image {
		float: left;
		width: 38vw;
		margin: 10px 1vw;
		overflow: hidden;
		border-radius: 15px;
		box-sizing: border-box;
		-webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.6);
		box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.6);
	}

	.slider_image img {
		width: 100%;
	}

	.slider_image .slider_textwrap {
		padding: 1vw 1.5vw;
		box-sizing: border-box;
	}

	.slider_image .slider_textwrap h3 {
		font-size: 1.6vw;
		margin-bottom: 1vh;
	}

	.slider_image .slider_textwrap p {
		font-size: 1.2vw;
	}

	/*★★★★★★★☆☆☆☆☆☆☆ISSUELIST☆☆☆☆☆☆☆★★★★★★★*/
	#issuelist {
		width: 100%;
		margin: 100px auto;
	}

	.desktop-swiper {
		display: block;
	}

	.mobile-swiper {
		display: none;
	}

	/*issue swiper*/
	.swiper-container {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		margin-bottom: 50px;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide h4 {
		font-weight: 300;
		font-size: 1.2vw;
	}

	.swiper-slide h5 {
		font-weight: 500;
		font-size: 1.5vw;
	}

	.issueimg {
		width: 114%;
		margin-left: -7%;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 0.5vw !important;
	}

	.swiper-pagination-bullet {
		width: 2.5vw !important;
		height: 6px !important;
		border-radius: 0 !important;
		opacity: 0.12 !important;
	}

	.swiper-pagination-bullet-active {
		background: #000 !important;
		opacity: 1 !important;
	}

}


/*@@@@@★★★★★★★☆☆☆☆☆☆☆ PAD ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (min-width:768px) and (max-width:1024px) {
	.sectionTitle {
		text-align: center;
		font-size: 26px;
		font-weight: 300;
		margin-bottom: 50px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆HEADER☆☆☆☆☆☆☆★★★★★★★*/
	.move {
		position: fixed;
		display: none;
		right: 1.5vw;
		bottom: 1.5vw;
		z-index: 999;
		padding: 3px;
		cursor: pointer;
	}

	.move img {
		width: 13px;
		opacity: 0.4;
		transition: .4s;
	}

	.move:hover img {
		opacity: 1;
	}

	.wrap {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: 230px;
		transition: 0.4s;
		z-index: 1000;
	}

	.wrap.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wrap-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.logo {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 22.5%;
		margin-left: -50px;
		margin-top: -21.5px;
		transition: 0.4s;
		transform: matrix(3.1, 0, 0, 3.1, 0, 38);
	}

	.day {
		position: absolute;
		bottom: 15px;
		right: 0;
		font-size: 75px;
		line-height: 85%;
		transition: 0.4s;
		text-align: right;
	}

	.wrap-inner h3 {
		position: absolute;
		top: 16px;
		left: 0;
		transition: .4s;
	}

	.wrap-inner ul {
		position: absolute;
		top: 16px;
		right: 27px;
		text-align: right;
		transition: .4s;
		font-size: 14px;
	}

	.wrap-inner ul li {
		float: left;
		margin-right: 3vw;
	}

	.wrap-inner ul li p {
		line-height: 99%;
	}

	.titlebox {
		width: 90%;
		margin: 0 auto;
		transition: 0.4s;
		position: relative;
		z-index: 30;
		padding-top: 230px;
	}

	.titletext {
		font-size: 60px;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -86px;
		margin-top: 65px;
		transition: 0.4s;
	}

	.titleshot {
		width: 100%;
		transition: 0.4s;
	}

	.section {
		width: 100%;
	}

	.section-inner {
		width: 80%;
		margin: 0 auto;
	}

	/*★★★★★★★☆☆☆☆☆☆☆stories☆☆☆☆☆☆☆★★★★★★★*/
	#stories {
		width: 90%;
		height: 100%;
		margin: 9vh auto;
		padding-top: 50px;
		padding-bottom: 15vh;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		position: relative;
	}

	#stories .sectionTitle {
		margin-bottom: 10px;
	}

	#stories-con {
		display: flex;
	}

	.content-left {
		flex: 1;
		width: 48vw;
		margin-right: 2vw;
		position: relative;
	}

	.left-inner {
		text-align: center;
		position: sticky;
		padding-top: 40px;
		top: 30px;
		z-index: 100;
		text-align: center;
	}

	.left-inner h2 {
		font-size: 20px;
		margin-bottom: 1vh;
	}

	.left-inner p {
		font-size: 16px;
		width: 100%;
		margin: 0 auto;
	}

	.imgbox {
		width: 100%;
		margin-bottom: 15px;
	}

	.imgbox img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	}

	.right-inner {
		padding-top: 40px;
	}

	.content-right {
		float: right;
		width: 48vw;
	}

	.content-right ul {
		width: 100%;
		float: left;
		clear: both;
		margin: 0 auto 4vh;
	}

	.content-right ul li {
		width: 23vw;
		float: left;
	}

	.content-right ul li:nth-child(1) {
		margin-right: 2vw;
	}

	.content-right ul li h3 {
		margin: 10px auto 10px;
		font-size: 18px;
		text-align: center;
	}

	.content-right ul li p {
		font-size: 15px;
	}

	.content-right ul li img {
		width: 100%;
		/*-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
			-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
			box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);*/
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
	}

	.moreviewBox {
		position: absolute;
		bottom: 5vh;
		left: 50%;
		margin-left: -75px;
		margin-top: -20px;
		width: 150px;
		border: 1px solid #000;
		text-align: center;
		height: 40px;
		line-height: 40px;
		transition: .4s;
	}

	.moreviewBox:hover {
		background: #000;
		color: #fff;
		cursor: pointer;
	}

	/*★★★★★★★☆☆☆☆☆☆☆MUSEUM☆☆☆☆☆☆☆★★★★★★★*/
	#museum {
		width: 100%;
		margin: 9vh auto;
		overflow: auto;
	}

	.museum {
		margin: 0 auto;
		overflow: auto;
	}

	.contitle {
		font-size: 2.7vw;
		font-weight: bold;
		text-align: center;
		color: #000;
		letter-spacing: 0px;
		transition: .8s;
		-webkit-transition: .8s;
		-ms-transition: .8s;
		position: relative;
		height: 80px;
		line-height: 80px;
		padding: 10px;
	}

	.contitle:before,
	.contitle:after {
		content: "";
		position: absolute;
		height: 3px;
		width: 0px;
		transition: 1s;
		-webkit-transition: 1s;
		-ms-transition: 1s;
		opacity: 0.3;
		left: 50%;
	}

	.contitle:before {
		bottom: 0;
	}

	.contitle:after {
		top: 0;
	}

	.contitle:hover {
		letter-spacing: 25px;
	}

	.activetitle:before,
	.activetitle:after {
		background: #000;
	}

	.activetitle.change:before,
	.activetitle.change:after {
		width: 100%;
		opacity: 1;
		left: 0;
	}

	.normaltitle:before,
	.normaltitle:after {
		background: #fff;
	}

	.normaltitle.change:before,
	.normaltitle.change:after {
		width: 90%;
		opacity: 1;
		left: 5%;
	}

	.sec-contentBox {
		width: 90%;
		margin: 40px auto;
		display: none;
	}

	.sec-con-left {
		width: 37%;
		float: left;
	}

	.sec-con-left h3 {
		font-size: 20px;
		margin-bottom: 1vh;
	}

	.sec-con-left h4 {
		font-size: 17px;
		margin-bottom: 1vh;
	}

	.sec-con-left p {
		font-size: 14px;
	}

	.detail-text {
		margin-top: 2.5vh;
		width: 90%;
	}

	.sec-con-right {
		width: 61%;
		margin-left: 2%;
		float: right;
	}

	.sec-con-right img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.85);
		-moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.85);
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.85);
	}

	.sec-con-right p {
		float: right;
		font-family: 'Nanum Myeongjo', serif;
		font-weight: 800;
		font-size: 0.8vw;
		opacity: 0.6;
		margin-top: 10px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆PARALLAX☆☆☆☆☆☆☆★★★★★★★*/
	.parallax {
		position: relative;
		margin: 0 auto;
		width: 100%;
		box-sizing: border-box;
		transform-style: inherit;
		overflow: hidden;
		height: 400px;
		perspective: 1px;
		transform-style: preserve-3d;
		cursor: pointer;
		transition: .4s;
	}

	.parallax:before {
		background: no-repeat fixed center / cover;
		transform: translateZ(-1.7px)scale(3);
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.parallax.boxChange {
		width: 90%;
		margin: 10px auto 0;
		height: 150px;
		/*-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);
			-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);
			box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);*/
	}

	.gara:before {
		background-image: url(../images/garage3.jpg)
	}

	.hermi:before {
		background-image: url(../images/hermitage.jpg);
	}

	.cosmo:before {
		background-image: url(../images/cosmonautics4.jpg);
	}

	.p-inner {
		padding-top: 150px;
		transition: .4s;
		box-sizing: border-box;
	}

	.parallax h3 {
		color: #fff;
	}

	/*★★★★★★★☆☆☆☆☆☆☆TOURSLIDE☆☆☆☆☆☆☆★★★★★★★*/
	#tourslide {
		margin: 9vh auto;
	}

	.text-wrapper {
		margin-bottom: 50px;
	}

	.slide-wrapper {
		width: 90%;
		margin: 0 auto;
		/*margin-left:25vw;*/
	}

	.tourcountry {
		width: 100%;
		position: relative;
	}

	.russiamap {
		width: 100%;
		height: 100%;
	}

	.marker {
		width: 3vw;
		display: block;
		position: absolute;
		cursor: pointer;
		transition: .4s;
	}

	.marker.active {
		-webkit-animation: hover .8s infinite ease-in;
		animation: hover .8s infinite ease-in-out;
	}

	@keyframes hover {
		0% {
			margin-bottom: 0px;
		}

		50% {
			margin-bottom: 10px;
			transform: scale(1.04);
		}
	}

	.marker img {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: .2s;
	}

	.markercheckactive {
		opacity: 0;
	}

	.number {
		color: #fff;
		background: rgba(0, 0, 0, 1);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		text-align: center;
		font-weight: 600;
		position: absolute;
		bottom: .2vw;
		left: 3.8vw;
		font-size: 1.7vw;
		margin: auto;
	}

	.number.vladi {
		bottom: -3vw;
		left: -4.9vw;
	}

	.marker:nth-child(2) .number {
		width: 13.5vw;
	}

	.marker:nth-child(3) .number {
		width: 7.5vw;
	}

	.marker:nth-child(4) .number {
		width: 4.3vw;
	}

	.marker:nth-child(5) .number {
		width: 4.3vw;
	}

	.marker:nth-child(6) .number {
		width: 12vw;
	}

	.marker:nth-child(7) .number {
		width: 12vw;
	}

	/*★★★★★★★☆☆☆☆☆☆☆SLIDE☆☆☆☆☆☆☆★★★★★★★*/
	.animation_canvas {
		width: 90vw;
		position: relative;
		overflow: hidden;
	}

	.slider_panel {
		width: 540vw;
		position: relative;
	}

	.slider_image {
		float: left;
		width: 88vw;
		margin: 10px 1vw;
		overflow: hidden;
		border-radius: 15px;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	}

	.slider_image img {
		width: 100%;
	}

	.slider_image .slider_textwrap {
		padding: 2vw 1.5vw;
		box-sizing: border-box;
	}

	.slider_image .slider_textwrap h3 {
		font-size: 20px;
		margin-bottom: 1vh;
	}

	.slider_image .slider_textwrap p {
		font-size: 16px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆ISSUELIST☆☆☆☆☆☆☆★★★★★★★*/
	#issuelist {
		width: 100%;
		margin: 9vh auto;
	}

	.desktop-swiper {
		display: block;
	}

	.mobile-swiper {
		display: none;
	}

	/*issue swiper*/
	.swiper-container {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		margin-bottom: 50px;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide h4 {
		font-weight: 300;
		font-size: 1.6vw;
	}

	.swiper-slide h5 {
		font-weight: 500;
		font-size: 1.9vw;
	}

	.issueimg {
		width: 114%;
		margin-left: -7%;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 1vw !important;
		outline: none;
	}

	.swiper-pagination-bullet {
		width: 8vw !important;
		height: 6px !important;
		border-radius: 0 !important;
		opacity: 0.12 !important;
	}

	.swiper-pagination-bullet-active {
		background: #000 !important;
		opacity: 1 !important;
	}

}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ MOBILE ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (max-width:767px) {
	.sectionTitle {
		text-align: center;
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 50px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆HEADER☆☆☆☆☆☆☆★★★★★★★*/
	.move {
		position: fixed;
		display: none;
		right: 1.5vw;
		bottom: 1.5vw;
		z-index: 999;
		padding: 3px;
		cursor: pointer;
	}

	.move img {
		width: 9px;
		opacity: 0.4;
		transition: .4s;
	}

	.wrap {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		height: 230px;
		transition: 0.4s;
		z-index: 1000;
	}

	.wrap.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wrap-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.logo {
		width: 90px;
		position: absolute;
		top: 50%;
		left: 27%;
		margin-left: -45px;
		margin-top: -19.0315px;
		transition: 0.4s;
		transform: matrix(2, 0, 0, 2, 0, -39);
	}

	.day {
		position: absolute;
		top: 55px;
		right: 0;
		font-size: 35px;
		line-height: 85%;
		transition: 0.4s;
		text-align: right;
	}

	.wrap-inner h3 {
		position: absolute;
		top: 16px;
		right: 40px;
		transition: .4s;
	}

	.wrap-inner ul {
		position: absolute;
		top: 135px;
		left: 0;
		margin: 0 auto;
		text-align: center;
		transition: .4s;
		font-size: 13px;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.wrap-inner ul li {
		float: left;
	}

	.wrap-inner ul li h4 {
		line-height: 99%;
		margin-bottom: 5px;
	}

	.wrap-inner ul li p {
		line-height: 108%;
		font-size: 12px;
	}

	.titlebox {
		width: 90%;
		height: 400px;
		margin: 0 auto;
		transition: 0.4s;
		position: relative;
		z-index: 30;
		margin-top: 230px;
		background: url(../images/main4.jpg)no-repeat center / 210%;
	}

	.titlebox img {
		display: none;
	}

	.titletext {
		font-size: 35px;
		color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -56px;
		margin-top: -26px;
		transition: 0.4s;
	}

	.titleshot {
		width: 100%;
		transition: 0.4s;
	}

	.section {
		width: 100%;
	}

	.section-inner {
		width: 80%;
		margin: 0 auto;
	}
	/*★★★★★★★☆☆☆☆☆☆☆stories☆☆☆☆☆☆☆★★★★★★★*/
	#stories {
		width: 90%;
		height: 100%;
		margin: 9vh auto;
		padding-top: 50px;
		padding-bottom: 15vh;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		position: relative;
	}

	#stories .sectionTitle {
		margin-bottom: 10px;
	}

	#stories-con {
		width: 100%;
	}

	.content-left {
		width: 100%;
		margin-right: 2vw;
		position: relative;
	}

	.left-inner {
		padding-top: 40px;
		text-align: center;
	}

	.left-inner h2 {
		font-size: 18px;
		margin-bottom: 1vh;
	}

	.left-inner p {
		font-size: 16px;
		width: 100%;
		margin: 0 auto;
	}

	.imgbox {
		width: 100%;
		margin-bottom: 15px;
	}

	.imgbox img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	}

	.right-inner {
		padding-top: 40px;
	}

	.content-right {
		width: 100%;
	}

	.content-right ul {
		width: 100%;
		clear: both;
		margin: 0 auto 5vh;
	}

	.content-right ul li {
		width: 48%;
		float: left;
	}

	.content-right ul li:nth-child(1) {
		margin-right: 4%;
	}

	.content-right ul li h3 {
		margin: 10px auto 10px;
		font-size: 17px;
		text-align: center;
	}

	.content-right ul li p {
		font-size: 15px;
	}

	.content-right ul li img {
		width: 100%;
		/*-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
			-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
			box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);*/
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
	}

	.moreviewBox {
		position: absolute;
		bottom: 5vh;
		left: 50%;
		margin-left: -75px;
		margin-top: -20px;
		width: 150px;
		border: 1px solid #000;
		text-align: center;
		height: 40px;
		line-height: 40px;
		transition: .4s;
	}

	.moreviewBox:hover {
		background: #000;
		color: #fff;
		cursor: pointer;
	}

	/*★★★★★★★☆☆☆☆☆☆☆MUSEUM☆☆☆☆☆☆☆★★★★★★★*/
	#museum {
		width: 100%;
		margin: 9vh auto;
		overflow: auto;
	}

	.museum {
		margin: 0 auto;
		overflow: auto;
	}

	.contitle {
		font-size: 3.9vw;
		font-weight: 400;
		text-align: center;
		color: #000;
		letter-spacing: 0px;
		transition: .8s;
		-webkit-transition: .8s;
		-ms-transition: .8s;
		position: relative;
		height: 50px;
		line-height: 50px;
		padding: 10px;
	}

	.contitle:before,
	.contitle:after {
		content: "";
		position: absolute;
		height: 3px;
		width: 0px;
		transition: 1s;
		-webkit-transition: 1s;
		-ms-transition: 1s;
		opacity: 0.3;
		left: 50%;
	}

	.contitle:before {
		bottom: 0;
	}

	.contitle:after {
		top: 0;
	}

	.contitle:hover {
		letter-spacing: 25px;
	}

	.activetitle:before,
	.activetitle:after {
		background: #000;
	}

	.activetitle.change:before,
	.activetitle.change:after {
		width: 100%;
		opacity: 1;
		left: 0;
	}

	.normaltitle:before,
	.normaltitle:after {
		background: #fff;
	}

	.normaltitle.change:before,
	.normaltitle.change:after {
		width: 90%;
		opacity: 1;
		left: 5%;
	}

	.sec-contentBox {
		width: 90%;
		margin: 20px auto 40px;
		display: none;
	}

	.sec-con-left {
		width: 100%;
		margin-top: 20px;
		float: left;
	}

	.sec-con-left h3 {
		font-size: 20px;
		margin-bottom: 1vh;
	}

	.sec-con-left h4 {
		font-size: 17px;
		margin-bottom: 1vh;
	}

	.sec-con-left p {
		font-size: 14px;
	}

	.detail-text {
		margin-top: 2.5vh;
	}

	.sec-con-right {
		width: 100%;
	}

	.sec-con-right img {
		width: 100%;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.85);
	}

	.sec-con-right p {
		float: right;
		font-family: 'Nanum Myeongjo', serif;
		font-weight: 800;
		font-size: 2.8vw;
		opacity: 0.6;
		margin-top: 10px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆PARALLAX☆☆☆☆☆☆☆★★★★★★★*/
	.parallax {
		position: relative;
		margin: 0 auto;
		width: 100%;
		box-sizing: border-box;
		transform-style: inherit;
		overflow: hidden;
		height: 250px;
		perspective: 1px;
		transform-style: preserve-3d;
		cursor: pointer;
		transition: .4s;
	}

	.parallax:before {
		background: no-repeat fixed center / cover;
		transform: translateZ(-1.7px)scale(3);
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.parallax.boxChange {
		width: 90%;
		margin: 10px auto 0;
		height: 100px;
		/*-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);
			-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);
			box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.85);*/
	}

	.gara:before {
		background-image: url(../images/garage3.jpg)
	}

	.hermi:before {
		background-image: url(../images/hermitage.jpg);
	}

	.cosmo:before {
		background-image: url(../images/cosmonautics4.jpg);
	}

	.p-inner {
		padding-top: 90px;
		transition: .4s;
		box-sizing: border-box;
	}

	.parallax h3 {
		color: #fff;
	}

	/*★★★★★★★☆☆☆☆☆☆☆TOURSLIDE☆☆☆☆☆☆☆★★★★★★★*/
	#tourslide {
		margin: 9vh auto;
	}

	.text-wrapper {
		margin-bottom: 50px;
	}

	.slide-wrapper {
		width: 90%;
		margin: 0 auto;
		/*margin-left:25vw;*/
	}

	.tourcountry {
		width: 100%;
		position: relative;
		margin-top: -30px;
		margin-bottom: 40px;
	}

	.russiamap {
		width: 100%;
		height: 100%;
	}

	.marker {
		width: 5.8vw;
		display: block;
		position: absolute;
		cursor: pointer;
		transition: .4s;
	}

	.marker.active {
		-webkit-animation: hover .8s infinite ease-in;
		animation: hover .8s infinite ease-in-out;
	}

	@keyframes hover {
		0% {
			margin-bottom: 0px;
		}

		50% {
			margin-bottom: 5px;
			transform: scale(1.03);
		}
	}

	.marker img {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		transition: .2s;
	}

	.markercheckactive {
		opacity: 0;
	}

	.number {
		color: #fff;
		background: rgba(0, 0, 0, 1);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
		text-align: center;
		font-weight: 600;
		position: absolute;
		bottom: .37vw;
		left: 6.3vw;
		font-size: 3.6vw;
		margin: auto;
	}

	.number.vladi,
	.number.novo {
		bottom: -6vw;
		left: -10.2vw;
	}

	.marker:nth-child(2) .number {
		width: 28.5vw;
	}

	.marker:nth-child(3) .number {
		width: 15.5vw;
	}

	.marker:nth-child(4) .number {
		width: 9vw;
	}

	.marker:nth-child(5) .number {
		width: 9vw;
	}

	.marker:nth-child(6) .number {
		width: 26vw;
	}

	.marker:nth-child(7) .number {
		width: 26vw;
	}

	/*★★★★★★★☆☆☆☆☆☆☆SLIDE☆☆☆☆☆☆☆★★★★★★★*/
	.animation_canvas {
		width: 90vw;
		position: relative;
		overflow: hidden;
	}

	.slider_panel {
		width: 540vw;
		position: relative;
	}

	.slider_image {
		float: left;
		width: 88vw;
		margin: 10px 1vw;
		overflow: hidden;
		border-radius: 15px;
		box-sizing: border-box;
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
	}

	.slider_image img {
		width: 100%;
	}

	.slider_image .slider_textwrap {
		padding: 1vw 1.5vw;
		box-sizing: border-box;
	}

	.slider_image .slider_textwrap h3 {
		font-size: 16px;
		margin-bottom: 1vh;
	}

	.slider_image .slider_textwrap p {
		font-size: 13px;
	}

	/*★★★★★★★☆☆☆☆☆☆☆ISSUELIST☆☆☆☆☆☆☆★★★★★★★*/
	#issuelist {
		width: 100%;
		margin: 9vh auto;
	}

	.desktop-swiper {
		display: none;
	}

	.mobile-swiper {
		display: block;
	}

	/*issue swiper*/
	.swiper-container {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		margin-bottom: 50px;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide h4 {
		font-weight: 300;
		font-size: 3.6vw;
	}

	.swiper-slide h5 {
		font-weight: 500;
		font-size: 3.9vw;
	}

	.issueimg {
		width: 114%;
		margin-left: -7%;
	}

	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 1vw !important;
		outline: none;
	}

	.swiper-pagination-bullet {
		width: 8vw !important;
		height: 6px !important;
		border-radius: 0 !important;
		opacity: 0.12 !important;
	}

	.swiper-pagination-bullet-active {
		background: #000 !important;
		opacity: 1 !important;
	}

}
