/*@@@@@★★★★★★★☆☆☆☆☆☆☆ DESKTOP ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (min-width:1025px) {
	/*★★★★★★★☆☆☆☆☆☆☆header☆☆☆☆☆☆☆★★★★★★★*/
	.wraper {
		width: 100%;
		position: fixed;
		top: -1px;
		left: 0;
		height: 80px;
		transition: 0.4s;
		z-index: 1000;
		background: rgba(255, 255, 255, 1);
	}

	.wraper.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wraper-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.nlogo {
		width: 120px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -60px;
		margin-top: -25.383px;
		transition: 0.4s;
	}

	/*★★★★★★★☆☆☆☆☆☆☆CONTENTS☆☆☆☆☆☆☆★★★★★★★*/
	#contents {
		padding-top: 80px;
	}

	.shop {
		width: 90%;
		margin: 25px auto;
		height: 95px;
		line-height: 95px;
	}

	.shop h2 {
		float: right;
		font-size: 55px;
		background: #000;
		color: #fff;
		padding: 0 25px;
	}

	.contentsWrap {
		width: 90%;
		margin: 0 auto 50px;
	}

	.menuBox {
		position: sticky;
		float: left;
		top: 80px;
	}

	.listTitle {
		height: 100px;
		line-height: 100px;
		font-size: 70px;
		border-bottom: 4px solid #000;
	}

	.menuBox ul li {
		margin-bottom: 15px;
	}

	.menuBoxList {
		margin-top: 50px;
	}

	.menulist {
		font-weight: 200;
		font-size: 2vw;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		transition: .25s;
	}

	.menulist.on {
		font-weight: 500;
		transform: matrix(1.05, 0, 0, 1.05, 5, 0);
		letter-spacing: 10px;
	}

	.itemBox {
		float: right;
		width: 70%;
	}

	.itemBoxTitle {
		position: relative;
		height: 100px;
		line-height: 100px;
		overflow: hidden;
		border-bottom: 2px solid #000;
	}

	.itemBoxTitleWrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 500px;
	}

	.itemBoxTitleWrap h2 {
		height: 100px;
		font-size: 66px;
	}

	.itemBox .showOn {
		display: block;
	}

	.itemBox .showHide {
		display: none;
	}

	.grid {
		width: 100%;
		margin-top: 50px;
	}

	.grid-sizer {
		width: 28%;
	}

	.grid-item {
		width: 28%;
		margin-bottom: 35px;
	}

	.grid-item img {
		width: 100%;
		display: block;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.grid-item dl {
		text-align: center;
	}

	.grid-item dt {
		font-size: 16px;
		font-weight: 200;
		margin: 0px auto 10px;
	}

	.grid-item dd {
		font-size: 18px;
		font-weight: 200;
		margin: 10px auto;
	}

	.grid-item dt img {
		transition: .25s;
	}

	.grid-item span {
		padding: 0 10px;
	}

	.gutter-sizer {
		width: 8%;
	}
}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ PAD ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (min-width:768px) and (max-width:1024px) {
	/*★★★★★★★☆☆☆☆☆☆☆header☆☆☆☆☆☆☆★★★★★★★*/
	.wraper {
		width: 100%;
		position: fixed;
		top: -1px;
		left: 0;
		height: 61.2px;
		transition: 0.4s;
		z-index: 1000;
		background: rgba(255, 255, 255, 1);
	}

	.wraper.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wraper-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.nlogo {
		width: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50px;
		margin-top: -21.5px;
		transition: 0.4s;
	}

	/*★★★★★★★☆☆☆☆☆☆☆CONTENTS☆☆☆☆☆☆☆★★★★★★★*/
	#contents {
		padding-top: 61.2px;
	}

	.shop {
		width: 90%;
		margin: 15px auto;
		height: 80px;
		line-height: 80px;
	}

	.shop h2 {
		float: right;
		font-size: 49px;
		background: #000;
		color: #fff;
		padding: 0 19px;
	}

	.contentsWrap {
		width: 90%;
		margin: 0 auto 50px;
	}

	.menuBox {
		position: sticky;
		float: left;
		top: 61.2px;
	}

	.listTitle {
		height: 100px;
		line-height: 100px;
		font-size: 62px;
		border-bottom: 4px solid #000;
	}

	.menuBoxList {
		margin-top: 50px;
	}

	.menuBox ul li {
		margin-bottom: 20px;
	}

	.menulist {
		font-weight: 200;
		font-size: 2vw;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		transition: .25s;
	}

	.menulist.on {
		font-weight: 500;
		letter-spacing: 8px;
	}

	.itemBox {
		float: right;
		width: 70%;
	}

	.itemBoxTitle {
		position: relative;
		height: 100px;
		line-height: 100px;
		overflow: hidden;
		border-bottom: 2px solid #000;
	}

	.itemBoxTitleWrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 500px;
	}

	.itemBoxTitleWrap h2 {
		height: 100px;
		font-size: 58px;
	}

	.itemBox .showOn {
		display: block;
	}

	.itemBox .showHide {
		display: none;
	}

	.grid {
		width: 100%;
		margin-top: 50px;
	}

	.grid-sizer {
		width: 28%;
	}

	.grid-item {
		width: 28%;
		margin-bottom: 30px;
	}

	.grid-item img {
		width: 100%;
		display: block;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.grid-item dl {
		text-align: center;
	}

	.grid-item dt {
		font-size: 16px;
		font-weight: 200;
		margin: 0px auto 7px;
	}

	.grid-item dd {
		font-size: 18px;
		font-weight: 200;
		margin: 5px auto;
	}

	.grid-item dt img {
		transition: .25s;
	}

	.grid-item span {
		padding: 0 5px;
	}

	.gutter-sizer {
		width: 8%;
	}

}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ MOBILE ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
@media screen and (max-width:767px) {
	/*★★★★★★★☆☆☆☆☆☆☆header☆☆☆☆☆☆☆★★★★★★★*/
	.wraper {
		width: 100%;
		position: fixed;
		top: -1px;
		left: 0;
		height: 61.2px;
		transition: 0.4s;
		z-index: 1000;
		background: rgba(255, 255, 255, 1);
	}

	.wraper.shadow {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.07);
	}

	.wraper-inner {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 100%;
	}

	.nlogo {
		width: 90px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -45px;
		margin-top: -19.0315px;
		transition: 0.4s;
	}

	/*★★★★★★★☆☆☆☆☆☆☆CONTENTS☆☆☆☆☆☆☆★★★★★★★*/
	#contents {
		padding-top: 61.2px;
	}

	.shop {
		width: 90%;
		margin: 25px auto;
		height: 70px;
		line-height: 70px;
	}

	.shop h2 {
		float: right;
		font-size: 50px;
		background: #000;
		color: #fff;
		width: 100%;
		text-align: center;
	}

	.contentsWrap {
		width: 90%;
		margin: 0 auto 50px;
	}

	.menuBox {
		float: left;
		width: 100%;
		margin-bottom: 25px;
	}

	.menuBox ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.menuBox ul li {
		margin: 2.6vw;
	}

	.listTitle {
		font-size: 49px;
		text-align: center;
		border-bottom: 4px solid #000;
	}

	.menuBoxList {
		margin-top: 25px;
	}

	.menulist {
		font-weight: 200;
		font-size: 20px;
		cursor: pointer;
		display: inline-block;
		letter-spacing: 0;
		transition: .25s;
	}

	.menulist.on {
		font-weight: 500;
		letter-spacing: 4px;
	}

	.itemBox {
		float: right;
		width: 100%;
	}

	.itemBoxTitle {
		position: relative;
		height: 70px;
		line-height: 70px;
		overflow: hidden;
		border-bottom: 2px solid #000;
	}

	.itemBoxTitleWrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 350px;
		width: 100%;
	}

	.itemBoxTitleWrap h2 {
		text-align: center;
		font-size: 42px;
	}

	.itemBox .showOn {
		display: block;
	}

	.itemBox .showHide {
		display: none;
	}

	.grid {
		width: 100%;
		margin-top: 50px;
	}

	.grid-sizer {
		width: 44%;
	}

	.grid-item {
		width: 44%;
		margin-bottom: 25px;
	}

	.gutter-sizer {
		width: 8%;
	}

	.grid-item img {
		width: 100%;
		display: block;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.grid-item dl {
		text-align: center;
	}

	.grid-item dt {
		font-size: 12px;
		font-weight: 200;
		margin: 9px auto 5px;
	}

	.grid-item dd {
		font-size: 14px;
		font-weight: 200;
		margin: 5px auto;
	}

	.grid-item dt img {
		transition: .25s;
	}

	.grid-item span {
		padding: 0 5px;
	}

}
